﻿@model UniversityApp3Web.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />

    <div>
        <h5>Создать учётную запись факультета</h5>



        <div class="form-group">
            Факультет
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FacultyId, Model.Faculties as SelectList)
            </div>
        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Регистрация" />
            </div>
        </div>
    </div>
    <hr />


}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <h5>Создать учётную запись группы</h5>

        <div class="form-group">
            Факультет
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FacultyId, Model.Faculties as SelectList)
            </div>
        </div>

        <div class="form-group">
            Группа
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GroupId, Model.Groups as SelectList)
            </div>
        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Регистрация" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h5>Создать учётную запись студента</h5>

    <div class="form-group">
        Факультет
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FacultyId, Model.Faculties as SelectList)
        </div>
    </div>

    <div class="form-group">
        Группа
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.GroupId, Model.Groups as SelectList)
        </div>
    </div>

    <div class="form-group">
        Фамилия
        <div class="col-md-10">
            @Html.EditorFor(model => model.MiddleName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        Имя
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        Отчество
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        Возраст
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Age, Model.Ages as IEnumerable<SelectListItem>)
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>
    </div>




}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
