﻿@model UniversityApp3DomainModel.Models.Faculty
@{
    ViewBag.Title = "Faculties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="result">

    <table>

        <tr>
            <th>Название факультета</th>
        </tr>

        @foreach (var item in ViewBag.Faculties)
        {
            <tr>
                <td>
                    <a href="/Home/Groups?facultyId=@item.FacultyId">@item.FacultyName</a>
                </td>
            </tr>
        }

    </table>
</div>

<div class="add">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Добавить факультет</legend>

            <p>
                Название факультета
                <br />
                @Html.EditorFor(model => model.FacultyName)
            </p>

            <br />

            <p>
                <input type="submit" value="Добавить">
            </p>
        </fieldset>
    }
</div>

