﻿@model UniversityApp3DomainModel.Models.Group
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Groups</h2>

<div class="result">

    <table>

        <tr>
            <th>Название группы</th>
        </tr>

        @foreach (var item in ViewBag.Groups)
        {
            <tr>
                <td>
                    <a href="/Home/Students?groupId=@item.GroupId">@item.GroupName</a>
                </td>
            </tr>
        }

    </table>
</div>

<div class="add">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Добавить группу</legend>

            <p>
                Название группы
                <br />
                @Html.EditorFor(model => model.GroupName)
            </p>

            <br />

            <p>
                Факультет группы
                <br />
                @Html.DropDownListFor(model => model.FacultyId, ViewBag.Faculties as SelectList)
            </p>

            <p>
                <input type="submit" value="Добавить">
            </p>
        </fieldset>
    }
</div>
