﻿@model  UniversityApp3DomainModel.Models.Student
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="result">

    <table>

        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Группа</th>
            <th>Факультет</th>
        </tr>


        @foreach (var item in ViewBag.Students)
        {
            <tr>
                <td>@item.MiddleName</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td>@item.Group.GroupName</td>
                <td>@item.Group.Faculty.FacultyName)</td>
            </tr>
        }

    </table>
</div>

